@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------- font ------------------------- */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* -------------------- font ------------------------- */

.card-coa {
  @apply bg-gradient-to-r from-from_cl to-to_cl
  flex md:flex-row flex-col gap-2 md:p-24 p-8;
}

.btn {
  @apply self-center
    w-auto h-9
    rounded-lg px-3 uppercase text-xs cursor-pointer tracking-wider text-white bg-green-600
    hover:text-green-600 hover:bg-white hover:shadow-lg transition ease-out duration-500
    md:transform md:hover:scale-110
    flex-shrink-0;
}

.ttl-coa-style {
  @apply w-auto px-10
  md:-mr-6 mr-0 -ml-4 -mb-4
  md:text-6xl text-3xl font-bold md:py-6 py-1 font-mono;
}

.number-stat {
  @apply text-3xl flex flex-col justify-center items-center font-bold text-to_cl;
}

.square-animation {
  @apply border-secondary;
}

/* ----------------------------- text size ---------------------- */
.litleText {
  @apply text-sm md:text-lg;
}
.bigText {
  @apply text-3xl md:text-5xl;
}
.subTitle {
  @apply text-lg md:text-2xl;
}
.title {
  @apply text-xl md:text-3xl;
}
.paragraphe {
  @apply text-sm;
}
/* ----------------------------- text size ---------------------- */
